@media only screen and (max-width: 600px) {
	.contenedor, .columna-top-rwd{
		display: block!important;
		}
		
	.columna-derecha{
		display:none;
		}
	}
	
:root {
	--primario: #000;
	--secundario: #888;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #fff;
	background-image:url('../img/logo-citi-color.svg'), url('../img/txt-fondo.jpg');
	background-repeat: no-repeat, repeat-x;
	background-position: top center;
	font-family: 'Quicksand', sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.centro{
	color:#000!important;
	text-align: center;
	width: 100%;
}
.contenedor {
	width: 100%;
	max-width: 1100px;
	border-radius: 10px;
	overflow: hidden;
	background: #fff;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.columna-izquierda {
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.42);
	padding: 50px;
	background-color: #F6F6F6;
	border-radius: 10px;
	margin: 10px;
}

.columna-derecha {
	background-image: url('../img/santatip.png');
	background-size: contain;
	background-position-x: center;
	background-repeat: no-repeat;
	margin: 20px;
}

.columna-top-rwd{
	display: none;
	background-image: url('../img/tip.png');
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    width: 100%;
	height: 200px;
	scale: .9;
}

footer{
	display: block;
	text-align: center;
	width: 100%;
}

.header {
	margin-bottom: 40px;
	text-align: center;
}

.header h1 {
	color: var(--primario);
	font-family: helvetica;
    font-weight: normal;
	font-size: 24px;
}

.header p {
	color: var(--secundario);
}

label {
	margin-bottom: 10px;
	display: block;
	font-weight: 500;
	color: var(--secundario);
	font-size: 12px;
	text-align: left;
}

.loading{
	scale: .2;
}
.contenedor-input {
	position: relative;
}

.registro {
	display: none;
}

.registro.activo {
	display: block;
}

.exito {
	display: none;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.exito.activo {
	display: flex;
}

.exito svg {
	width: 50px;
	height: 50px;
	color: var(--primario);
}

.folio{
	color:#d40d0d!important;
}

input {
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	width: 100%;
	border: none;
	border-radius: 5px;
	padding: 0 20px 0 20px;
	margin-bottom: 20px;
	background: #fff;
	color: var(--primario);
	font-family: 'Quicksand', sans-serif;
	border: 1px solid #ccc!important;
	transition: .3s ease all;
}

input:focus {
	outline: none;
	/*border: 2px solid var(--primario);*/
}

.contenedor-input svg {
	position: absolute;
	color: var(--primario);
	top: 17px;
	left: 17px;
} 
.bx {
	font-size: 30px;
	transform: translateX(120px);
	cursor: pointer;
}
.contenedor-boton {
	display: flex;
	justify-content: center;
}

button {
	background-color: #000;
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	border-radius: 26px;
	margin-top: 20px;
	height: 50px;
	color: #fff;
	padding: 0 50px;
	align-items: center;
	justify-content: end;
	border: none;
	cursor: pointer;
	transition: .3s ease all;
	outline: none;
	text-align: center;
	width: 100%;;
}

button:hover {
	background: #d40d0d;
	color: #fff;
}

button svg {
	margin-left: 10px;
	width: 20px;
	height: 20px;
}

.topBar{
	background-color: #E8E8E8;
	text-align: center;
	width: 100%;
}
.true{
	margin-bottom: -40PX;
    margin-top: 15PX;
    TEXT-ALIGN: center;
}
